[user]
    name = Casey Thomas
    email = cthomas@azavea.com
[push]
    default = tracking
[alias]
    co = checkout
    cob = checkout -b
    c = commit
    ca = commit --amend
    st = status
    br = branch
    rb = rebase -i
    undo = reset --soft HEAD^
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[core]
    excludesfile = path/to/.global_gitignore
	editor = vim
[branch]
    autosetuprebase = always
[color]
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
